@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
}

* {
    background-color: #0f0e17;
    color: azure;
}

*{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-track {
  background: #0f0e17;
}
  
::-webkit-scrollbar-thumb {
  background: #4ade80;
  border-radius: 10px;
}