.home {

    margin: auto;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: 5px solid black; */
    font-size: 22px;
    /* background: #0f0e17; */
}

.home:hover {

    color: whitesmoke;
    background: #0f0e17;
}